doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // include scripts from the public folder
    script(src='/jquery/jquery.min.js')
    // include scripts from the public folder
    script(src='/javascripts/scripts.js')
    
  body
    header
      ul
      li
        a(href='../memes') Memes
    block content
      
