extends layout

block content
  

  
  #base_memes 
    for elem in data
      img(src=elem.url)
      // this is the form, with id='newKitteh'
      form#newComment
        input(type="text" name=elem.id placeholder="Enter your commment")
        button(type="submit") Submit
      
    
